#registersContainer {
    display: flex;
}

.registersTable {
    margin-right: 50px;
}

#textInputField {
    width: 250px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
  }